streamlit
google-generativeai
langchain
sentence-transformers
faiss-cpu
PyMuPDF
python-docx
gTTS
moviepy
ffmpeg-python
pytesseract
youtube-transcript-api
trafilatura
networkx
pyvis
reportlab
pandas
numpy
requests
